.navbar {
  background-color: #561919;
  padding: 1rem 2rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  margin: 0;
}

.nav-buttons {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-buttons li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-buttons li a:hover {
  text-decoration: underline;
}
